/************************************************/
/*    Vraag me niet andere mensen te worden     */
/************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
}

html, body {
    height: 100%;
}

body {
    color: #2c3e50;
      font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.7em;
}

/* ---------------------- */

/* typography */

h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, "pragmatica-web", Arial, sans-serif;
    letter-spacing: -0.05em;
    text-align: center;
}

h1 {
    font-size: 5em;
    color: #f1c40f;
}
.auction h1{
    font-family: Monofett;
    line-height: 0.8em;
    font-weight: normal;
}
h2 {
    font-size: 2.2em;
    line-height: 1.4em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: .4em;
    text-transform: uppercase;
    font-family: 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
}

blockquote {
    font-family: skolar, 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
    font-weight: normal;
    text-align: center;
}

p {
    font-size: 1em;
    margin-bottom: 40px;
}

a {
    color: #767362;
}

/* ---------------------- */

/* lay-out */

section {
    padding: 60px 0;
}

.story-content {
    margin: 0 auto;
}

.site-width {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}


.auction .site-width {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.copy-width {
    width: 82%;
    margin: 0 auto;
}

.auction {
    background-color: #16a085;
    color: #2c3e50;
    text-align: center;
}
.data {
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.profile {
    background-color: #3498db;
    margin: 0 auto;
    height: 700px;
}
.profile h1, .profile h2 {
    color: #34495e;
}
.profile h2 {
    text-align: left;
}
.profile h1 {
    background-size: 10%;
}
.cta {
    background-color: #2c3e50;
    margin: 0 auto;
    color: #7f8c8d;
}
.cta .site-width {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* ---------------------- */


.auction form {
    background-color: #ecf0f1;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    width: 100%;
    margin: 1em auto;
}

form input {
    display: block;
    clear: both;
    margin: 1em auto;
}
form button {
        margin: 1em auto;
}

.tile {
    background: none;
    width: 30%;
    display: inline-block;
    margin: 0.5em;
}
.tile-image.big-illustration{
    height: 139px;
    width: 140px;
}
.tile p{
    font-size: 18px;
}
ul.demo {
    font-size: 1em;
    list-style-type: none;
    padding-left: 0;
    width: 30%;
    display: inline-block;
}
ul.socio {
    font-size: 1em;
    list-style-type: none;
    padding-left: 0;
    width: 60%;
    display: inline-block;
}

ul.items {
    font-size: 1em;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}
ul.items li {
    width: 27%;
    height: 100%;
    padding-top: 8em;
    margin: 1em;
    float: left;
}
ul.items li.personal {
    background: url('../img/icons/Clipboard.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.location {
    background: url('../img/icons/Map.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.browsing {
    background: url('../img/icons/Compas.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.calendar {
    background: url('../img/icons/Calendar.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.mail {
    background: url('../img/icons/Mail.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.conversations {
    background: url('../img/icons/Chat.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.thoughts {
    background: url('../img/icons/Book.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.preferences {
    background: url('../img/icons/Pocket.png') no-repeat center top;
    background-size: 70%;
}
ul.items li.patterns {
    background: url('../img/icons/Infinity-Loop.png') no-repeat center top;
    background-size: 70%;
}